.starshipstable__section {
	background: #ffffff;
	width: 100%;
	text-transform: capitalize;
}

.starshipstable__scroll {
	display: block;
	empty-cells: show;
	border-spacing: 0;
}

.starshipstable__scroll thead {
	position: relative;
	display: block;
	width: 100%;
	overflow-y: scroll;
	color: rgba(163, 171, 183, 1);
}

.starshipstable__scroll tbody {
	display: block;
	position: relative;
	width: 100%;
	overflow-y: scroll;
	color: rgba(44, 44, 44, 1);
}

.starshipstable__scroll tr {
	width: 100%;
	display: flex;
	font-size: 14px;
}

.starshipstable__scroll td,
.starshipstable__scroll th,
.starshipstable__scroll {
	display: block;
	padding: 1rem;
	text-align: left;
	flex-basis: 100%;
	flex-grow: 2;
}

.starshipstable__scroll th:first-child,
.starshipstable__scroll th:nth-child(2),
.starshipstable__scroll th:nth-child(3),
.starshipstable__scroll th:nth-child(4),
.starshipstable__scroll td:first-child,
.starshipstable__scroll td:nth-child(2),
.starshipstable__scroll td:nth-child(3),
.starshipstable__scroll td:nth-child(4) {
	flex-basis: 250%;
}

.starshipstable__scroll th:first-child {
	position: relative;
	left: 38px;
}

.purple__text {
	color: rgba(54, 32, 177, 1);
}

.body-half-screen {
	max-height: 100vh;
}

.firstrow__square {
	width: 16px;
	height: 15px;
	border-radius: 2px;
	background: rgba(221, 219, 219, 1) 0% 0% no-repeat padding-box;
	border: 1px solid rgba(221, 219, 219, 1);
	border-radius: 2px;
	margin-right: 20px;
}
